*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.top-bar{
    background:rgb(206, 200, 200);
    border-bottom: 1px solid black;
    align-items: center;
}
.top-bar, .color, .width{
    display: flex;
}

.color, .width{
    margin: 8px;
}

.color-btn, .width select{
    margin-left: 7px;
}

canvas{
    border: 1px solid black;
}

.color-btn{
    border: none;
    width:  4rem;
    height: 1.3rem;
    background: white;
    border-radius: 1rem;
    cursor: pointer;
}

.color-btn:focus{
    outline: none;
}

.colors-container{
    border: 1px solid black;
    display: none;
    position: absolute;
    width: 120px;
    height: 200px;
    background: white;
    z-index: 1;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.green{
    background: green;
    
}
.green button{
    width: 96%;
    height: 96%;
    background: green;
    border: 1px solid white;
}
.red{
    background: red;
    border: 1px solid white;
}.white{
    background: white;
}.blue{
    background: blue;
    border: 1px solid white;
}
.color-square{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(173, 171, 171);
}

.color-place{
    background: black;
    width: 66%;
    height: 66%;
    transform: translateX(23%);
}